.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-bg-footer-header);
    padding: 1.0%;
    color: var(--color-textDefault);
    width: 100%;
    height: 20rem;
    font-size: 1.5rem;
}

.header-tools {
    width: 80%;
    justify-content: space-between;
    display: flex;
}

.header-logo {
    margin-top: 1em;
}

.search {
    display: inline-flex;
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
    padding: 1rem;
}

input {
    width: 40rem;
    border: 0;
    border: none;
    outline: none;
}

.search-icon {
    margin-top: 0.5rem;
    background-image: url('https://img.icons8.com/material-outlined/256/search-more.png');
    background-size: contain;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;

}

.conversion {
    margin-top: 1em;
    display: flex;
    width: 10em;
    justify-content: space-around;
}

.temperature {
    margin-top: -1em;
    background-color: var(--color-bg-footer-header);
}

.lang-name {
    margin-top: 0.1em;
}

.lang-logo {
    background-image: url("https://www.svgrepo.com/show/116369/earth-globe-tool.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.5em;
    height: 1.5em;
}

.header-nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
}

li:hover {
    opacity: 0.5;
    cursor: pointer;
}