.weather-today {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
}

.current-conditions {
    width: 70rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.current-conditions-header {
    display: flex;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--color-light-grey);
    padding: 1rem 1.6rem;
}

.current-conditions-header__timestamp {
    margin: 0.3rem 0 0 4rem;
    font-size: 1.5rem;
}

.box-temp-value {
    font-size: 10rem;
    font-weight: 600;
}

.box-temp-phrase {
    font-size: 1.5rem;
}

.box-temp-label {
    font-size: 1.5rem;
}

.current-conditions-box {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.6rem;
}

.current-conditions-icon {
    width: 5rem;
    height: 5rem;
    background-size: contain;
    background-image: url('https://w7.pngwing.com/pngs/333/298/png-transparent-yellow-sun-illustration-rapunzel-tangled-drawing-sun-leaf-orange-disney-princess.png');
}

.button-primery {
    border-radius: 1.5rem;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem 1.5rem;
    background-color: var(--color-logo-border);
}

.today-weather-card {
    width: 70rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    margin: 0 auto;
}

.today-weather-card-title {
    margin: 1rem 0 0 1rem;
}

.weather-table--columns {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    list-style-type: none;
    margin-top: 4rem;
    padding: 0 1rem;
}

.colomn-times-of-day {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: 400;
}

.colomn-precip-icon {
    width: 0rem;
    height: 0rem;
}

.colomn-label {
    font-weight: 600;
    font-size: 1.5rem;
}

.colomn-label {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-logo-border);
}

.card-footer {
    margin-top: 5rem;
}

.today-details {
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    margin: 0 auto;
    width: 70rem;
    margin-bottom: 1rem;
}

.component__title {
    margin: 1rem 0 0 1rem;
}

.todays-details-header {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}

.todays-details-header__feels-like-temp {
    margin: 0 3.6rem 2.5rem 3.6rem;
    display: flex;
    flex-direction: column;
}

.todays-details-header__feels-like-temp_value {
    font-size: 3.5rem;
    font-weight: 600;
}

.weather-details-item-icon {
    width: 1rem;
    height: 1rem;
}

.today-details-card {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.sunrise-sunset {
    width: 10rem;
    height: 6rem;
}

.sunrise-sunset-path {
    transform-origin: 4rem 4rem;
    transform: rotate(180deg);
    stroke: #e87538;
    fill: none;
    stroke-width: 0.2rem;
    stroke-linecap: round;
}

.sunrise-sunset-dates {
    display: flex;
    justify-content: space-between;
}

.todays-details-item {
    flex-basis: 40%;
    display: flex;
    margin: 0 1rem;
    border-bottom: solid 0.1rem var(--color-light-grey);
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.weather-details-item-label {
    flex-grow: 1;
}