
.five-days-container {
    background-color: var(--color-white);
    width: 70rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

h1 {
    padding: 1rem 1.6rem;
}

.daily-forecast-timestamp {
    padding: 1rem 1.6rem;
}
.daily-forecast-disclosure-list {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.location-page-title {
    display: flex;
}
.location-title {
    display: flex;
    align-items: center;
}
@media  screen and (max-width: 725px){
    .five-days-container{
        width: 60rem;
    }

}
@media  screen and (max-width: 625px){
    .five-days-container{
        width: 50rem;
    }
}
@media  screen and (max-width: 530px){
    .five-days-container{
        width: 40rem;
    }
}
@media  screen and (max-width: 445px){
    .five-days-container{
        width: 35rem;
    }
}
@media  screen and (max-width: 400px){
    .five-days-container{
        width: 30rem;
    }
}